*{margin: 0;padding: 0;position: relative;scroll-behavior: smooth;}
@import "fonts.css";
:root {
  --m_b: 'Montserrat-Bold';
  --r_r: 'Roboto-Regular';
  --z_r: 'Zeyada-Regular';
  --title_color: #232D32;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none!important;
}
body {
  font-family: sans-serif;
}

 /* Loader Begin ******************** */

 .loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F4FF;
  transition: all 0.25 linear;
  z-index: 777777;
}

.loader-container.hidden {
  opacity: 0;
  z-index: -1;
}

.loader {
  color: #a099ff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* // Loader End ******************** */


/* ============================ Course registration BEGIN ============================ */

.registr {
  padding: 30px 0 100px;
  transition: all 1s;
  position: relative;
}

.registr-col {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 50px;
}

.registr-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 76px;
  text-transform: capitalize;
  color: #232D32;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  align-self: center;
}

.registr-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  text-transform: capitalize;
  color: #232D32;
  margin-bottom: 15px;
}

.registr p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #232D32;
  margin-bottom: 0;
  display: flex;
  transition: .2s;
}

.register-terms-policy {
  opacity: .7;
}

.registr-terms, 
.registr-policy {
  font-size: 14px;
  text-decoration: underline;
}

.hr-line {
  display: inline-block;
  margin: 0 10px;
}

.form-container {
  background: #FFFFFF;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 15px;
  padding: 112px 50px 39px;
  position: relative;
  display: none;
}

.form-container.show {
  display: block;
}

.form-circle-box {
  width: 130px;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
}

.cancel-button {
  background: transparent;
  border: none;
  outline: none!important;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #999999;
  opacity: 0.9;
  position: absolute;
  top: 30px;
  right: 30px;
}

.form-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #232D32;
  text-align: center;
}

.form-parag {
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 30px;
}

form label {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #232D32;
  margin-bottom: 11px;
}

form label > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #8B8B8B;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select,
form textarea {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border: 2px solid #DDE2E4;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding-left: 15px;
  transition: 0.2s;
}

form textarea {
  height: 150px;
  padding: 15px;
  resize: none;
}

form input:focus,
form select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

form input[type="checkbox"] {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 2px solid #DDE2E4;
  box-sizing: border-box;
  border-radius: 15px;
}

form .form-checkbox {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

form .form-checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

form .form-checkbox label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #232D32;
  margin-bottom: 0;
}

.numberof {
  display: flex;
  justify-content: space-between;
}

.numberof-drivers,
.numberof-trucks {
  width: 45%;
}

.equipment-box {
  width: 100%;
  min-height: 60px;
  background: #FFFFFF;
  border: 2px solid #DDE2E4;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
  cursor: pointer;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.equipment-box.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.equipment-items {
  width: 100%;
  max-width: 90%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 0;
  overflow: hidden;
}

.equipment-item {
  width: auto;
  height: 41px;
  background: #CBCBCB;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #232D32;
  padding: 0 5px;
  transition: all 0.5s;
  display: none;
}

.equipment-item.active {
  display: flex;
}

.equipment-item img {
  transform: scale(0.7);
  cursor: pointer;
}

.equipment-box > img {
  display: block;
  margin-right: 15px;
  transition: all 0.5s;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: scale(0.8) translateY(-50%);
}

.equipment-box > img.active {
  transform: scale(0.8) translateY(-50%) rotate(180deg);
}

.equipment-list {
  list-style: none;
  background: #FFFFFF;
  border: 2px solid #DDE2E4;
  border-top: 0;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  padding: 20px 0;
}

.equipment-list > li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #000000;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.equipment-list > li:hover {
  background: #CBCBCB;
}

.registr-numbers {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 25px;
}

.registr-number {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #BEC1C3;
  cursor: pointer;
  transition: 0.3s;
}

.registr-number:hover,
.registr-number.active {
  font-size: 26px;
  color: #232D32;
}

.nextBtn {
  width: 201px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(93.62deg, #FF0066 -11.37%, #FF1585 102.48%);
  border-radius: 10px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  transform: scale(1);
  transition: 0.5s ease;
  margin: 0 auto;
  margin-top: 20px;
}

.nextBtn:hover {
  background: linear-gradient(93.62deg, #FF1585 -11.37%, #FF0066 -102.48%);
}

.nextBtn:focus {
  outline: none;
  transform: scale(0.8);
}

@media (max-width: 991px) {
  .registr {
    padding: 30px 0 60px;
  }
  
  .registr-title {
    font-size: 35px;
  }
  
  .form-container {
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  
  .registr {
    padding: 10px 0 60px;
  }
  
  .registr-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .registr-title {
    line-height: 46px;
    margin-top: 30px;
  }
  
  .registr-h2 {
    font-size: 20px;
  }
  
  .registr p, .registr address, .registr a {
    font-size: 14px;
  }
  
  .registr-terms, .registr-policy {
    font-size: 12px;
  }
  
  .form-container {
    padding: 100px 15px 50px;
  }
  
  .form-circle-box {
    width: 110px;
    height: 110px;
    top: -55px;
  }
  
  .form-title {
    font-size: 18px;
  }
  
  .form-circle-box img {
    transform: scale(0.8);
  }
  
  form label {
    font-size: 14px;
  }
  
  form label > span {
    display: block;
    font-size: 12px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"], form select {
    height: 50px;
  }
  
  form .form-checkbox {
    flex-direction: column;
    gap: 5px;
  }
  
  form .form-checkbox label {
    font-size: 12px;
  }
  
  form input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  
  .cancel-button {
    font-size: 14px;
    right: 15px;
  }
}

@media (max-width: 375px) {
  .nextBtn {
    width: 100%;
    height: 60px;
    transform: scale(1);
    font-size: 16px;
  }
  
  .nextBtn img {
    transform: scale(0.8);
  }
}
/* ============================ Course registration END ============================ */
.b {
  border: 2px dashed blue;
}