@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../Shrift/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Shrift/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Zeyada-Regular';
    src: url(../Shrift/Zeyada-Regular.ttf);
}
@font-face {
    font-family: 'Zeyada-Regular';
    src: url(../Shrift/Zeyada-Regular.ttf);
}
@font-face {
    font-family: 'Mulish-Regular';
    src: url(../Shrift/Mulish-Regular.ttf);
}